[Unit]
Description=Heim View Client Service
After=network.target

[Service]
User=%i
WorkingDirectory=%h/heim-view-client
ExecStart=%h/heim-view-client/heim-view.py
Restart=always
RestartSec=5s

# Logging configuration
StandardOutput=append:%h/heim-view-client/data/logs/service.log
StandardError=append:%h/heim-view-client/data/logs/service-error.log
SyslogIdentifier=heim-view

[Install]
WantedBy=multi-user.target