[Unit]
Description=Monitor Client
After=network.target

[Service]
User=root
WorkingDirectory=/opt/monitor_client
ExecStart=/usr/bin/python3 /opt/monitor_client/monitor_client.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
